.navbar {
  background-color: #000000;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.menu-left {
  display: flex;
  gap: 20px; /* Space between #menu-osint and #menu */
}

#menu-right {
  position: fixed;
  right: 20px;
  top: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px; /* Space between individual list items */
}

.navbar ul li {
  margin: 0 10px;
  position: relative; /* Make li the reference for absolute positioning */
}

.navbar ul li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: black;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  background-color: black;
  color: var(--red);
}

/* First level submenu */
.navbar ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
  z-index: 1;
}

/* Show first-level submenu on hover */
.navbar ul li:hover > ul {
  display: block;
}

/* Styling for first-level submenu items */
.navbar ul li ul li a {
  color: black;
  font-size: 12px;
  background-color: lightgray;
  text-align: left;
  border-radius: 2px;
}

.navbar ul li ul li a:hover {
  background-color: var(--red);
  color: black;
}

/* Second-level submenu (nested) positioning */
.navbar ul li ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Positions the second-level submenu to the right of the parent */
  background-color: black;
  z-index: 2;
}

/* Show second-level submenu on hover */
.navbar ul li ul li:hover > ul {
  display: block;
}

/* Ensure that the second-level submenu does not overlap with the parent menu */
.navbar ul li ul li ul li {
  position: relative;
}

.navbar ul li ul li ul li a {
  font-size: 12px;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Styling for hover in the second-level submenu */
.navbar ul li ul li ul li a:hover {
  background-color: var(--red);
  color: black;
}

/* Clearfix for floating elements */
.navbar::after {
  content: "";
  clear: both;
  display: table;
}